/* CLEARFIX */

.page-template-tarjeta .formulario .content-right:after,
.nav-menu:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* fonts */
body {
    font-size: 16px;
    font-family: 'robotoregular';
}


.site {
    background: #fafafa;
    max-width: inherit; 
}

header {
    background: #0066b1;
}

.top {
    height: 126px;
    position: relative;
    width: 930px;
    margin: 0 auto;
}

.navbar {
    background: #fafafa;
}

.logo {
    background: url("../images/logo.png") no-repeat;
    display: block;
    height: 124px;
    width: 200px;
    position: absolute;
    top: 16px;
}

.submenu {
    float: right;
    padding-top: 42px;
    text-align: right;
}

#site-navigation {
    width: 930px;
    margin: 0 auto;
}

.menu-menu-principal-container {
    float: right;
    margin: 20px 0;
}

.submenu .ic-fb {
    background: url("../images/ic-fb.png") no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 8px; 
}

.submenu .ic-contacto {
    background: url("../images/ic-contacto.png") no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.submenu .trabaja-nosotros {
    color: #fff;
    font-size: 14px;
    border: 1px solid #6ea8d3;
    border-radius: 3px;
    display: block;
    background: url("../images/ic-trabaja-nosotros.png") 10px 4px no-repeat;
    padding: 4px 14px 0 48px
}

.top h1,
.top h2 {
    color: #fff;
}

ul.nav-menu, div.nav-menu > ul {
    padding: 0;

}

.nav-menu {
    background: #f5f5f5;
    margin: 20px 0;
}

.nav-menu li {
    float: left;
    background: #fff;
    padding: 0 10px;
}

.nav-menu li:hover > a, 
.nav-menu li a:hover, 
.nav-menu li:focus > a, 
.nav-menu li a:focus,
.nav-menu li a {
    font-size: 16px;
    color: #475055;
    height: 60px;
    background: #fff;
    line-height: 30px;
}

.nav-menu .current_page_item > a, 
.nav-menu .current_page_ancestor > a, 
.nav-menu .current-menu-item > a, 
.nav-menu .current-menu-ancestor > a
#primary-menu .current-page a,
#primary-menu a:active,
#primary-menu a:hover {
    border-bottom: 10px solid #0066b1;
    color: #0066b1;
    background: #f5f5f5;
}

.nav-menu li:hover,
.nav-menu li.current-menu-item {
    background: #f5f5f5;
}

footer.site-footer {
    background: #f5f5f5;
    width: 930px;
    margin: 0 auto;
    text-align: left;
    color: #494747;
}

footer div {
    float: left;
}

footer h4 {
    font-size: 14px;
    font-family: 'robotobold';
    margin: 0 0 22px; 
}

footer p {
    font-size: 12px;
    font-family: 'robotolight';
    line-height: 15px;
    margin: 0;
}

footer p > a {
    text-decoration: underline;
}

footer .info-contacto {
    width: 300px;
    height: 242px;
    background: #c5cdd1;
    padding: 40px 0 0 28px;
}

footer .sugerencias {
    padding: 40px 0 0 28px;
    width: 300px;
}

.sugerencias .tyc {
    margin-top: 30px; 
}

.nuestra-web {
    width: 160px;
    padding: 40px 0 0 28px;
}

.contactanos {
    padding: 40px 0 0 28px;
}

.info-contacto p span {
    display: inline-block;
    background: url("../images/ic-footer.png") no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.info-contacto p:nth-child(3) span {
    margin: 15px 20px 15px 0;
    background-position: 0 -34px; 
}

.info-contacto p:nth-child(4) span {
    background-position: 0 -68px; 
}

.info-contacto h4 {
    margin-left: 40px;
}

.contactanos .ic-fb {
    background: url("../images/ic-fb-footer.png") no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.contactanos .ic-contacto {
    background: url("../images/ic-contacto-footer.png") no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
}


/* HOME */

.site-content {
    width: 930px;
    margin: 0 auto;
}


.slider-content {
    float: left;
    width: 604px;
}

.novedades {
    background: #0066b1;
    float: right;
    width: 300px;
    height: 444px;
}

.novedades p {
    padding: 26px 0 26px 26px;
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 17px; 
}

.novedades p strong {
    display: block;
}

.novedades ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.novedades ul li {
    border-bottom: 1px solid #fff;
    padding: 24px;
}

.novedades ul li:nth-child(odd) {
    background: #56ccc8;
}

.novedades ul li a {
    color: #fff;
    font-size: 15px;
    font-family: 'robotolight';
}

.novedades ul li a:hover {
    text-decoration: none;
}

.novedades .controls {
    display: block;
    position: relative;
}

.novedades .controls span {
    display: inline-block;
    position: absolute;
    top: center;
    right: 2px;
    width: 18px;
    height: 18px;
    background: transparent url("../images/arrow-circle.png") no-repeat bottom left;
}

.content-central {
    margin: 46px 0;    
}

.content-central > div {
    width: 33%;
    float: left;
    height: 258px;
    padding-top: 212px;
    text-align: center;
}

.content-central > div p {
    font-size: 16px;
    font-family: 'robotomedium'; 
}

.content-central > div span {
    display: block;
}

.content-central .ganadores {
    background: url("../images/chango.jpg") no-repeat 0 27px;
}

.content-central .sucursales {
    background: url("../images/sucursales.jpg") no-repeat 0 27px;
}

.content-central .tarjeta {
    background: url("../images/cliente-amigo.jpg") no-repeat top left;
}

.page-template-tarjeta .content-central > div {
    padding: 16px 44px 0 66px;
    text-align: left;
    position: relative;
    background: #fff;
    width: 300px;
    height: 300px;
}

.page-template-tarjeta .content-central h4 {
    margin: 0;
    font-family: 'robotomedium';
    font-size: 22px;
    margin: 28px 0 20px 8px;
}

.page-template-tarjeta .content-form h4 {
    margin: 0 0 28px 8px;
}

.page-template-tarjeta .content-central > div > span {
    background: url("../images/ic-generals.jpg") no-repeat;
    display: block;
    position: absolute;
    top: 34px;
    left: 0;
    width: 40px;
    height: 40px;
}

.page-template-tarjeta .content-central > div p {
    font-family: 'robotothin';
    font-size: 15px;
    margin-bottom: 0;
}

.page-template-tarjeta .content-central div a {
    display: block;
    color: #ea6060;
    margin-top: 10px;
}

.page-template-tarjeta .content-central .que span {
    background-position: 0 -80px; 
}

.page-template-tarjeta .content-central .como span {
    background-position: left -120px; 
}

.page-template-tarjeta .content-central .como {
    margin: 0 15px;
}

.page-template-tarjeta .formulario {
    background: #fff;
    padding: 28px 0 0 20px;
}

.page-template-tarjeta .wpcf7-response-output {
    width: 580px;
}

.page-template-tarjeta .formulario .content-right,
.page-template-tarjeta .formulario .content-left {
    padding-right: 20px;
    float: left;
    width: 288px;
}

.page-template-tarjeta .formulario input {
    width: 100%;
    font-family: 'robotolight';
    font-size: 16px;
    border: 1px solid #dde2e4;
    margin-bottom: 18px;
    border-radius: 3px;
}

.page-template-tarjeta .formulario .wpcf7-not-valid-tip {
    font-family: 'robotothin';
    font-size: 14px;
    line-height: 1;
}

.page-template-tarjeta .formulario .enviar {
    background: #ea6060;
    border-radius: 5px;
    border:none;
    color: #fff;
    font-size: 15px;
    font-family: 'robotomedium';
    text-align: center;
    width: auto;
    padding: 8px 24px 7px;
    float: right;
}

.page-template-tarjeta .content-form {
    background: #fff;
}

.page-template-tarjeta .content-form .wpcf7 {
    float: left;
}

.page-template-tarjeta .ver-sucursales {
    float: right;
    width: 300px;
    background: #ea6060;
    color: #fff;
    padding: 38px 26px 0 66px;
    position: relative;
    height: 392px;
}

.page-template-tarjeta .ver-sucursales p {
    font-size: 15px;
    font-family: 'robotoregular';
    margin-bottom: 60px;
    padding-right:  14px;
}

.page-template-tarjeta .ver-sucursales h4 {
    font-size: 22px;
    font-family: 'robotomedium';
    margin: 0 0 18px; 
}

.page-template-tarjeta .ver-sucursales a {
    font-size: 12px;
    font-family: 'robotomedium';
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: 9px 40px 6px; 
}

.page-template-tarjeta .ver-sucursales span {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/ic-generals.jpg") no-repeat 0 -40px;
    position: absolute;
    top: 34px;
    left: 0;
}


/* la empresa */

.page-template-empresa .top-content {
    margin-bottom: 25px;
}

.page-template-empresa .content-general h1 {
    font-size: 28px;
}

.page-template-empresa .content-right {
    float: right;
    width: 298px;
}

.page-template-empresa .content-left {
    float: left;
    width: 612px;
    background: #fff;
    padding: 12px 34px 32px 65px
}

.page-template-empresa .content-left h1 {
    font-size: 24px;
    font-family: 'robotomedium';
    color: #475055;
}

.page-template-empresa .content-left P {
    font-size: 15px;
    font-family: 'robotothin';
    color: #475055;   
}

.content-right .jk-cercano {
    background: #0066b1;
    position: relative;
    padding: 30px 0 30px 64px;
    margin-bottom: 10px;
}

.content-right .jk-cercano span {
    background: url("../images/ic-generals.jpg") no-repeat 0 -200px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 34px;
    left: 0;
}

.content-right .jk-cercano a {
    color: #fff; 
    font-size: 24px;
    font-family: 'robotomedium';
    line-height: 1;
}

.content-right .jk-cercano a:hover {
    text-decoration: none;
}

.content-right .jk-cercano a span {
    background: url("../images/arrows-white.png") left bottom no-repeat;
    width: 18px;
    height: 18px;
    position: inherit;
    margin-left: 14px;
    vertical-align: middle;
    display: inline-block;
}

.banner-laboral {
    margin-bottom: 10px;
    display: block;
}

.laboral {
    background: #ea6060;
    color: #fff;
    padding: 34px 30px 34px 62px;
    position: relative;
}

.laboral p {
    margin: 0;
}

.laboral h4 {
    font-family: 'robotomedium';
    font-size: 24px;
    margin: 0 0 16px 0;
}

.laboral h4 span {
    display: block;
}

.laboral .fondo {
    background: url('../images/ic-generals.jpg') no-repeat 0 -160px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px; 
}

.laboral .arrow {
    background: url('../images/arrows-white.png') no-repeat left top;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: block;
    width: 18px;
    height: 18px; 
}

.formuario-laboral p {
    margin: 0;
}

.formuario-laboral input {
    width: 100%;
    font-family: 'robotolight';
    font-size: 16px;
    border: 1px solid #dde2e4;
    margin-bottom: 18px;
    border-radius: 3px;
}

.formuario-laboral .wpcf7-not-valid-tip {
    font-family: 'robotothin';
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
}

.formuario-laboral {
    background: #fff;
    padding: 20px 20px 10px;
}

.formuario-laboral h4 {
    color: #475055;
    margin: 0 0 20px 0;
    padding: 26px 20px 10px;
    font-size: 18px;
    font-family: 'robotomedium';
}

.formuario-laboral input.enviar {
    background: #ea6060;
    border-radius: 5px;
    border:none;
    color: #fff;
    font-size: 15px;
    font-family: 'robotomedium';
    text-align: center;
    width: auto;
    padding: 8px 24px 7px;
    float: right;
}



